/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }

  .cover-container {

   margin: 0;
   height: 100%;
   width:100%;
   background-color: aqua;

  }