/* Move down content because we have a fixed navbar that is 3.5rem tall */
html {

    height: 100%;
    margin: 0px;
}

body {
        height: 100%;
        margin: 0px;
       
  }

.navbar-custom {
    background-color: #5e0380;
}

/*
 * Header
 */
 .masthead {
    margin-bottom: 2rem;
  }
  
  .masthead-brand {
    margin-bottom: 0;
    color: #fff;
  }
  
  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    color: #fff;
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  
  @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
  }

.cover-container {

   margin: 0;
   height: 100%;
   min-height: 500px;
   width:100%;
   padding: 1rem 3rem;
   background-color: #5e0380;
   box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

  }

  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }
  
  .lead {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 350;
  
  }

  /* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.white {
    color: #fff;
}